.productItem {
  margin: 8px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.productImageContainer {
  position: relative;
}

.favoriteButtonContainer {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.productImage {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

.favoriteImage {
  background-color: #fff;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 0;
  top: 20px;
  width: 20px;
}

.productTitle {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productDetailsImage {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

.productDetailsTitle {
  font-size: 2em;
  margin: 0.67em 0;
}

.productDetailsInfo {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.productDetailsImageContainer {
  min-width: 50%;
}

.productDetailsButton {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .productItem {
    width: calc(50% - 16px);
  }

  .productionDetailsInfo {
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .productItem {
    width: calc(33% - 16px);
  }
}
