.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.productItem {
  margin: 8px;
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.productImage {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 300px;
  object-fit: contain;
  width: 100%;
}

.productTitle {
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .productItem {
    width: calc(50% - 16px);
  }

  .productionDetailsInfo {
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .productItem {
    width: calc(33% - 16px);
  }
}
